streamlit==1.39.0
requests>=2.32.0
beautifulsoup4>=4.12.2
lxml>=5.2.0
pdfminer.six>=20231228
pandas>=2.2.2
pillow>=10.4.0
pytesseract>=0.3.10
pdf2image>=1.17.0
# tqdm não é necessário no Streamlit (usamos st.progress)
